.navbar, .navigation{
    align-items: center;
    flex-direction: row;
    display: flex;
}

.navbar{
    background-color: #333;
    box-shadow: 1px 1px 4px color(#333);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation{
    gap: 3em;
}

.navigation a {
    text-decoration: none;
}