*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    

    
}

/* ---------------------------  NavBar --------------------------- */

.index {
    background-image: url(images/img_undo.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #873093;
    border-radius: 5px;
}

.nav-links a{
    padding: 15px 25px;
    display: block;
    color: white;
    border-radius: 4px;
}

.nav-links ul li a:hover {
    background-color:  #66266fc0;
    transition: 0.5s;
}

.navbar .nav-links ul{
    display: flex;

}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.logo img {
max-width: 150px;
    
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.liste a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main

/* --------------------------- // --------------------------- */

/* --------------------------- index --------------------------- */
.pagina-processa-dados-do-form{
    text-align: center;
}

h1, h4, h2{
    color: white;
    text-align: center;
}

label{
    color: white;
}

/* --------------------------- // --------------------------- */
    .re4{
        background-image: url(images/garrador-re4.jpg);
        background-size: cover;
    }
/* --------------------------- re4 --------------------------- */

/* --------------------------- // --------------------------- */
/* --------------------------- // --------------------------- */
/* --------------------------- // --------------------------- */
/* --------------------------- // --------------------------- */



















































/* .navbar ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    

}

.navbar li{  
    float: ;
    align-items: center;
}

.navbar a{

    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
}

.navbar a:hover{
    background-color: #555;
    color: white;
} */